<!DOCTYPE html>
<html>
<head th:replace="header :: head">

</head>
<body >

	<nav th:replace="header :: navigation_bar">

	</nav>


	<div id="container" class="container-fluid bg-light h-100" >
		<div class="row">
			<div class="col-12">
				<h3 class="m-4" th:text="${task.taskName}">Task Name </h3>
			</div>
		</div>

		<div class="row">
			<div class="col-2 ml-4">
				<h5>Description:</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-10 ml-4">
				<p id="task_desc" th:text="${task.taskDesc}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</div>
		</div>

		<div class="row">
			<div class="col-2 ml-4">
				<h5>Submissions:</h5>
			</div>
		</div>

		<div class="row">

			<div class="col-8 align-self-center ml-4 mb-5">
				<a th:each="sub : ${submissions}" th:href="@{{tid}/submission/{id}(id=${sub.sId}, tid=${task.taskId})}" class="list-group-item list-group-item-action  ">
					<p th:text="${sub.submitterName}" class="d-inline" >Submitter Name 1 </p>
					<p th:text="${#temporals.format(sub.submissionDate, 'dd-MM-yyyy')}" class="d-inline bg-warning ml-4 float-right" >12.03.2019 15:23</p>
					<p th:text="${sub.point}? 'points: ' + ${sub.point} : 'points: 0'" class="text-info d-inline  float-right" >
					  points: <span>10</span>
					</p>
  				</a>



			</div>
		</div>

	</div>

</body>
</html>